Source: wgnetns
Build-Depends:
	debhelper-compat (= 12),
Homepage: https://github.com/wgnetns
Maintainer: David Joaquín Shourabi Porcel <david@djsp.eu>
Priority: optional
Rules-Requires-Root: no
Section: admin
Standards-Version: 4.5.0
Vcs-Browser: https://github.com/wgnetns/core/tree/ubuntu/focal
Vcs-Git: https://github.com/wgnetns/core.git

Package: wgnetns
Architecture: all
Depends:
	${misc:Depends},
	bash (>= 5.0),
	iproute2,
	wireguard,
Description: Wireguard-ed network namespace setup framework
 Framework to manage Linux network namespaces with a Wireguard interface as
 single route for outbound (and inbound) traffic.
Recommends:
	systemd,
Suggests:
	wireguard-tools,
